@charset "utf-8";

// $pc: 1024px; 
// $tab: 680px; 
$sp: 900px;  // スマホ
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
  }

@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}