@charset "uft-8";
@import './mixin';



.products-content{
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    gap: 64px;
    align-items: flex-start;
    @include sp{
       display: block;
    }
    img{
        max-width: 400px;
        max-height: 800px;
        @include sp{
            width: 100%;
            margin-bottom: 33px;
         }
    }
}
.products-titleh2{
    padding: 120px 0 34px;
}
.products-text{
    width: 42%;
    @include sp{
        width: 100%;
     }
    p{
        font-size: 14px;
        line-height: 1.7;
        &:nth-child(1){
            margin-top: 0;
        }
    }
    span{
        font-size: 12px;
        margin-top: 26px;
    }
}
.products-detail{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1.5;
    @include sp{
        margin-top: 34px;
     }
    dt{
        width: 30%;
    }
    dd{
        width: 70%;
        margin-inline-start: 0;
    }
}

.back-btn{
    text-align: center;
    margin-top: 64px;
    a:hover{
        opacity: .5;
    }
    }