@charset "uft-8";
@import './mixin';


.products-items{
    @include flexSpaceBetween;
    flex-wrap: wrap;
    padding-top: 80px;
    li{
        width: 23%;
        margin-bottom: 40px;
        @include sp{
            width: 47%;
            margin-bottom: 24px;
        }
        a{
            img{
                width: 100%;
            }
            .products-title{
                font-size: 12px;
                margin: 12px 0 8px;
            }
            .products-price{
                font-size: 12px;
            }
        }
    }
}

.link-text{
    display: block;
    margin-top: 40px;
    font-size: 14px;
    transition: all .5s;
    text-align: center;
    &:hover{
        opacity: .5;
    }
    @include sp{
        margin-top: 46px;
    }
}

// プロダクトページよう
.products-titleh2{
    margin: 0;
    padding: 80px 0 30px;
    font-size: 14px;
    font-weight: 500;
}
.ptop-0{
    padding-top: 0;
}
.pagenation-lists{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 22px;
    font-size: 14px;
}