@charset "uft-8";
@import './mixin';

// .products-wrapper{
//     padding: 0 40px;
// }
.products-items{
    @include flexSpaceBetween;
    flex-wrap: wrap;
    padding-top: 80px;
    li{
        width: 23%;
        margin-bottom: 40px;
        @include sp{
            width: 47%;
            margin-bottom: 24px;
        }
        a{
            img{
                width: 100%;
            }
            .products-title{
                font-size: 12px;
                margin: 12px 0 8px;
            }
            .products-price{
                font-size: 12px;
            }
        }
    }
}

.link-text{
    display: block;
    margin-top: 40px;
    font-size: 14px;
    transition: all .5s;
    text-align: center;
    &:hover{
        opacity: .5;
    }
    @include sp{
        margin-top: 46px;
    }
}